@import "./../../styles/mixins.scss";
.bootcampsContainer {
  width: 100%;
  @include flex-justify-center;
  @include font-styles;
  padding-top: 50px;

  h4 {
    font-size: 24px;
    line-height: 29px;
    color: #212529;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .findBootcamps {
    width: 350px;
    margin-right: 10px;

    .location {
      width: 350px;
      padding: 15px 20px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);

      .findLocation input {
        width: 308px;
        padding: 10px 4px;
        @include button-styles(white, 15px, #e05433, 1px solid #e05433);
        margin-bottom: 20px;
        display: block;
      }

      form {
        display: flex;
      }

      form > input {
        width: 135px;
        border: 1px solid #ced4da;
        padding: 10px 4px;
      }

      form input:first-child {
        margin-right: 10px;
      }
      form input:last-child {
        margin-left: 7px;
      }
    }

    .filter h2 {
      font-size: 24px;

      line-height: 29px;
      margin-bottom: 5px;
    }

    .filter h4 {
      font-size: 15px;
      margin-bottom: 5px;
    }

    .filter input[type="number"] {
      width: 340px;
      padding: 5px 3px;
    }

    .filter h3 {
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 9px;
    }

    .filter input[type="submit"] {
      width: 352px;
      padding: 10px 5px;
      @include button-styles(white, 20px, #e05433, 1px solid #e05433);
      box-sizing: border-box;
    }
  }

  .bootcamps {
    width: 730px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;

    .bootcampContainer {
      display: flex;
      margin-bottom: 17px;

      .bootcampImage {
        width: 245px;
        height: 163px;
        background-color: #bcbec0;

        img {
          width: 245px;
          height: 163px;
        }
      }

      .bootcamp {
        width: 485px;
        height: 163px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        box-sizing: border-box;
        padding-left: 15px;

        h2 {
          font-size: 20px;
          line-height: 24px;
          color: #e05433;
          display: inline-block;
        }

        .rating {
          float: right;
          background-color: #28a745;
          color: #ffffff;
          padding: 3px 5px;
          margin-top: 19px;
          margin-right: 20px;
        }

        .locationBootcamp {
          background-color: #343a40;
          color: #ffffff;
          padding: 2px 5px;
          font-size: 12px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          margin-top: 10px;
        }
      }
    }
  }
}

@include media(1117px) {
  .bootcampsContainer {
    flex-wrap: wrap;
    text-align: center;

    .findBootcamps {
      width: 100%;
      margin-bottom: 20px;

      .location {
        margin: auto;
      }
    }
  }
}

@include media(770px) {
  .bootcampsContainer {
    .bootcamps {
      .bootcampContainer {
        flex-wrap: wrap;
        .bootcampImage {
          margin: auto;
        }
        .bootcamp {
          margin: auto;
        }
      }
    }
  }
}

@include media(550px) {
  .bootcampsContainer {
    .bootcamps {
      .bootcampContainer {
        .bootcamp {
          width: 245px;
        }
      }
    }
  }
}
