@import "./../../styles/mixins.scss";

.container {
  width: 100%;
  @include flex-justify-center;
  @include font-styles;

  .updatePassword {
    width: 730px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 15px 45px;

    h2 {
      display: inline-block;
      font-size: 40px !important;
      color: #212529;
      margin-bottom: 15px;
    }

    p {
      text-align: left;
      width: 393px;
      font-size: 16px;
      line-height: 24px;
      color: #212529;
    }

    form {
      label {
        font-size: 15px;
        line-height: 24px;
        color: #212529;
      }

      input {
        @include input(640px);
      }

      input[type="button"] {
        width: 640px;
        height: 38px;
        @include button-styles(white, 10px, #343a40, 1px solid #343a40);
        box-sizing: border-box;
      }
    }

    .invalid {
      @include invalid;
    }

    .error {
      @include error;
    }
  }
}
