.registor_content {
  position: absolute;
  width: 540px;
  height: 770px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  margin-top: 100px;
}

.section {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
}

.conteiner1 {
  padding: 25px 35px;
}

.registor_text {
  display: inline-block;
  font-family: Roboto;
  margin-left: 15px;
  font-size: 40px;
  color: #212529;
}

.img1 {
  width: 30px;
  height: 32px;
}

.p1 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  padding-top: 10px;
}

label {
  font-family: Roboto;
  font-size: 15px;
  color: #212529;
}

.input {
  width: 450px;
  height: 38px;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: Roboto;
}

.button4 {
  width: 450px;
  height: 38px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  background: #e05433;
  border: 1px solid #e05433;
  box-sizing: border-box;
}

.role {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  font-family: Roboto;
  width: 450px;
  height: 122px;
}

.radio_input {
  width: 12px;
  height: 12px;
}

.p3 {
  width: 411px;
  height: 48px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: #dc3545;
  padding: 10px 0;
}

.last_label {
  margin-left: 5px;
}
