.Reset_content {
   position: absolute;
   width: 700px;
   height: 318px;
   display: flex;
   justify-content: center;
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.125);
   box-sizing: border-box;
   margin-top: 100px;
 }
 
 .section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
 }
 
 .Reset_conteiner {
   padding: 30px 45px;
 }

 .Reset_back {
   font-family: Roboto;
   font-size: 15px;
   line-height: 24px;
   color: #E05433;
   text-decoration: none;
 }

 .Reset_title {
   font-family: Roboto;
   font-size: 38px;
   line-height: 48px;
   color: #212529;
 }

 .Reset_discrition {
   font-family: Roboto;
   font-size: 15px;
   line-height: 45px;
   color: #212529;
 }

 #Reset_label {
   font-family: Roboto;
   font-size: 15px;
   line-height: 24px;
   color: #212529;
 }

 #Reset_input {
   width: 640px;
   height: 38px;
 }

 .Reset_button {
   width: 640px;
   height: 38px;
   background: #343A40;
   border: 1px solid #343A40;
   margin-top: 10px;
 }